body {text-align: left;font-family: 'source_sans_prolight';}

#wrapper a, #wrapper a:visited, #wrapper a:focus, #wrapper a:hover, #wrapper a:active {color: inherit !important; background-color: transparent !important ; }